canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -9999;
}


/* nav table */
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_item{
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
}